@import url("print.css") print;

body{
    width: 100%;
    height: 920px;
}

#cabecera{
    width: 90%;
    background-color: rgb(191, 206, 204);
    text-align: center;
    margin-left: 3%;
    font: 800;
    height: 70px;
    font-size: 30px;
}

.navegador
{
    margin-left: -180px;
}
li{
    display: inline;
    margin-left: 60px;
  }

#menu{
    background-color: hotpink;
    width: 90%;
    margin-left: 3%;
    text-align: center;
  }

.seccion
{
    margin-top: 30px;
    background-color: aquamarine;
    width: 90%;
    margin-left: 3%;
    min-height: 450px;
}


.contenido1,.contenido2
{
    float: left;
    margin-top: 0.5%;
    width: 300px;
    height: 200px;
    margin-left: 2%;
    background-color:rgb(211, 181, 240) ;
    text-align: center;
    margin-left: 17%;
}
.clear
{
    clear: both;
}
.contenido1
{
    margin-top: 1%;
    
}
.contenidoAside
{
    float: left;
    width: 300px;
    height: 320px;
    text-align: center;
    margin-top: -12%;
    margin-left: 25%;
    background-color: brown;
}

footer
{
    margin-top: 20px;
        width: 90%;
        background-color: rgb(191, 206, 204);
        text-align: center;
        margin-left: 3%;
        font: 800;
        height: 70px;
}
