header, footer, nav, aside 
    {
    display: none!important;
    }

.contenido1,.contenido2
{
    text-align: left!important;
    width: 100%!important;
    margin-top: 0!important;
    margin-left: 0!important;
}
