.head
{
    background-color: rgb(25, 246, 25);
}
.columnas
{
    background-color: red;
    background-clip: content-box;
    height: 200px;
}

.footer
{
    background-color: yellow;
    background-clip: content-box;
}

/*Media query sm tablets*/
@media (max-width: 768px) 
{
    .head
    {
        background-color: cyan;
    }
    .columnas:nth-child(3)
    {
        background-color: rgb(25, 246, 25);
        height: 100px;
    }
    .columnas
    {
        height: 120px;
    }
}

/*Media query xs moviles*/
@media (max-width: 576px) 
{
    .head
    {
        background-color: rgb(179, 91, 88);
    }
    .columnas:nth-child(2)
    {
        background-color: cyan;
    }
    .columnas:nth-child(3)
    {
        background-color: red;
    }
}

