body
{ 
    width: 100%;
    min-height: 800px;
    margin:auto;
    font-family:Amatic SC;
}

header
{
    width: 100%;
    min-height: 120px;
    background-color: rgb(224, 224, 224);
}

.logo
{
    display:inline-block;
    min-height: 120px;
    min-width: 20%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
   
}

.header-right
{
    
    min-height: 120px;
    min-width: 40%;
    float: right;
    display:inline-block;
    font-weight: 550;
    
}
ul
{
    list-style: none;
}

.menu-it{
    float: left;
    display:inline-block;
    margin-top:30px;
}
li a
{
    position: relative;
    color: black;
    text-decoration: none;
    margin-left: 35px;
    color: green;
    
}

nav::before{
    content: "";
    position: absolute;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    background-image: url(../imagenes/ctulu.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;  
    margin-left: 65px;
}

.arti-titulo
{
    width: 150px;
    color: rgb(68, 67, 67);
}

article
{
    margin-left: 40px;
    max-width: 600px;
}

.modulo
{
    width: 150px;
    display: inline-block; 
}
.modulo h2
{
    text-align: center;
}

.modulo:nth-child(even) 
{
    background-color:rgb(224, 224, 224) ;
}


/*Cuando la resolucion sea la siguiente secambia*/
@media only screen and (max-width: 700px) 
{
    header
    {
        width: 100%;
        min-height: 250px;
        background-color: rgb(224, 224, 224);
    }
    .logo
    {
        display:inline-block;
        min-height: 40px;
        min-width: 20%;
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        color: black;
        text-decoration: none;
        font-size: 22px;
        font-weight: 800;
    
    }
    .header-right
    {
        
        min-height: 120px;
        min-width: 180px;
        float: left;
        font-weight: 550;
        margin-left: -7px;
        margin-top: -30px;
        
    }
    .menu-it{
        display:flex;
        margin-top:20px;
    }
    li a
    {
        position: relative;
        color: black;
        text-decoration: none;
        margin-left: 35px;
        color: green;
        width: 300px;
        
    }

    nav::before{
        width: 50px;
        height: 50px;
        background-image: url(../imagenes/ctulu.svg);
        background-size: 50px 50px;
        background-repeat: no-repeat;
        display: inline-block;  
        margin-left: 300px;
    }
    
  }

