*
{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    
}
body
{
    height: 100%;
}
/*HACE FALTA DEFINIRLE EL TAMAÑO MAXIMO DE 1368 O ALGO ASI*/

header, .seccion1
{
    width: 90%;
    background-image:  linear-gradient(160deg,rgb(55, 88, 158), rgba(27, 180, 0, 0.746)), url(../images/fondo_superior.jpg);
    background-repeat:  round;
    background-size:cover;
    background-attachment: fixed;
    background-attachment: fixed;

    
}
header
{
    height: 80px;
}

.logotipo
{
    margin-left: 4%;
    width: 20%;
    float: left;
}

.rrss
{
    float: right;
    margin-right: 3%;
    margin-top: 1.5%;
}
.rrss img
{
    width: 25px;
    height: 18px;
}
.contacto
{
    float: right;
    color: white;
}

.seccion1
{
    height: 600px;
}
main
{
    height: 100%;
}
.clear
{
    clear: both;
}
.descripcion
{
    float: left;
    width: 70%;
    color: white;
    margin-left: 4%;
}
.descripcion h1
{
    font-size: 400%;
    margin-top: 2.5%;
}
ul
{
    list-style: none;
    margin-left:0px;
    padding-left:0px;
}
.descripcion ul li
{
    font-size: 20px;
    margin-top: 4.5%;
    font-size: 150%;
    
}
ul li:before {
    content: '✓ ';
  }
.formulario
{
    color: black;
    float:right;
    margin-top: 2.5%;
    width: 20%;
    height: 450px;
    background-color: white;
    margin-right: 3%;
}
form
{
    height: 100%;
    width: 100%;
    padding-left: 6%;
    padding-top: 8%;
}
form p
{
    margin-top: 2%;
}
form input
{
    margin-top: 4%;
    width: 90%;
    height: 35px;
}
#enviar
{
    background-color: #35B81E;
    margin-top: 8%;
    color: white;
}
.pieFormulario
{
    margin-top: 6%;
}
.pieFormulario span
{
    text-decoration: underline;
}


.seccion2
{
    height:280px;
    display: flex;
    flex-wrap: wrap;
    
}

.columnas
{
    height: 60%;
    width: 20%;
    text-align: center;
    margin-top: 3%;
}

.columnas div img
{
    height: 80px;
    width: 60px;
    margin-top: 20%;
}
.circulo
{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 2px solid rgb(3, 255, 234);
    
}
.columnas p
{
    margin-top: 5%;
    font-size: 120%;
}

.seccion3
{
    width: 90%;
    display: flex;
    align-items: flex-start;
    min-height: 360px;
    background-color: rgba(155, 177, 177, 0.082);
}
.descripcionVideo
{
    padding-top: 4%;
    padding-left: 4%;
}
.descripcionV
{
    width: 38%;
    float: left;
}
.descripcionV h1
{
    margin-bottom: 3%;
}

.videoV video
{
    width: 600px;
    margin-left: 10%;
 
}

#descargar
{
    background-color: #35B81E;
    margin-top: 4%;
    color: white;
    width: 70%;
    height: 30px;
}

.seccion4
{
    width: 90%;
    min-height: 360px;

    text-align: center;
}
.staff
{
    width: 90%;
    display: flex;
    align-items: flex-start;

}
.titulo
{
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 100%;
    font-size: 30px;
}
.columnaStaff
{
    height: 320px;
    box-shadow: 0px 9px 19px -2px rgba(0,0,0,0.24);
}
.staffImagenes
{
    height: 185px;
    width: 279px;
    margin-bottom: 8%;
    margin-right: 8%;
}
.staffImagenes img
{
    max-height: 100%;
    max-width: 100%;
    
}
.staffNombre h2
{
    margin-bottom: 4%;
}


.seccion5
{
    width: 90%;
    min-height: 360px;
    text-align: center;
    background-image:url(../images/fondo_inferior.jpg);
    margin-top: 4%;
   
}

.layer
{
    background-color: rgba(177, 182, 248, 0.787);
    width: 100%;
    min-height: 360px;
    padding-top: 4%;
    color: white;
}
.information
{
    font-size: 30px;
}
.textoinf
{
    font-size: 20px;
    margin-top: 3%;
}
.camuflajeCaja
{
    background-color: #35B81E;
    margin-top: 4%;
    width: 25%;
    height: 50px;
    font-size: 20px;
    
}
.camuflajeCaja a
{
    text-decoration: none;
    color: white;
    position: relative;
    top: 25%;
}



.footer
{
    width: 90%;
    min-height: 45px;
    background-color: rgb(29, 28, 28);
    color: white;
    padding-top: 17px;
    font-size: 15px;
}
.footer li
{
    display: inline-block;
    margin-right: 10px;
    
}
footer li:before {
    content: '';
  }
.footer ul
{
    width: 50%;
    float: left;
    text-align: left;
}

.footer ul:nth-child(1)
{
    margin-left: 50px;
}


.footer p{
    width: 30%;
    float: right;
    text-align: center;
}